<template>
    <div id="fur-editor">
        <header class="navbar">
            <section class="navbar-section">
                <div class="dropdown">
                    <a href="#" class="btn dropdown-toggle" tabindex="0">
                        Save..
                    </a>
                    <ul class="menu">
                        <li class="menu-header">
                            <span class="menu-header-text">
                                Save...
                            </span>
                        </li>
                        <li class="menu-item">
                            <a href="#" v-clipboard :data-clipboard-text="compiledMarkdown">
                                Copy rich text to clipboard
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="#" v-clipboard :data-clipboard-text="input">
                                Copy markdown to clipboard
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
            <section>
                <button v-on:click='showModal = !showModal' class="btn btn-primary">Help</button>
                <div v-if="showModal" class="modal active">
                    <div class="modal-overlay"></div>
                    <div class="modal-container">
                        <div class="modal-header">
                            <button v-on:click="showModal = !showModal" class="btn btn-clear float-right"></button>
                            <div class="modal-title">Help</div>
                        </div>
                        <div class="modal-body">
                            <div class="content">
                                <p>This is a markdown editor with special power to attach furigana</p>
                                <p> If you type in ｛日本語｝（にほんご）</p>
                                <p>you will get out <ruby>日本語<rt>にほんご</rt></ruby></p>
                                <p>Please note that the curly braces
                                    and parentheses are the big kind you type with an IME</p>
                                <p>For the rest of the documentation on markdown please see
                                    <a href="http://commonmark.org/help/">
                                        http://commonmark.org/help/
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button @click="showModal = !showModal" class="btn btn-link">Close</button>
                        </div>
                    </div>
                </div>
            </section>
        </header>

        <div id="tabs">
            <ul><li id="editor-tab" :class="[activeTab === 'editor' ? 'active' : '']">
                <a v-on:click='toggleTab' href="#">Editor</a></li>
                <li :class="[activeTab === 'render' ? 'active' : '']"
                    id="markdown-tab"><a  v-on:click='toggleTab' href="#">Markdown</a></li>

            </ul>
            <div id="undoredo">
                <button id="undobtn" class="btn btn-lg btn-primary">undo</button>
                <button id="redobtn" class="btn btn-lg btn-primary">redo</button>
            </div>
        </div>
        <div id="split-editor">
            <textarea :class="[activeTab === 'editor' ? 'active' : '']"
                      @keydown.prevent.ctrl.122="undo"
                      @keydown.prevent.ctrl.121="redo"
                      :value="input" @input="update"></textarea>
            <div :class="[activeTab === 'render' ? 'active' : '']"
                 class="print-target" v-html="compiledMarkdown"></div>
        </div>
    </div>
</template>


<script>
import Remarkable from 'remarkable'
import Furigana from 'remarkable-furigana'
import debounce from 'lodash.debounce'
import Vue from 'vue'

Vue.directive(
    'clipboard',
    require('./directives/clipboard.js')
)

var md = new Remarkable()
md.use(Furigana, {'single': true, 'bracket': true})

var placeholder = '# 日（に）本（ほん）語（ご）を書（か）いてみましょう'
if (document.cookie !== '') {
    placeholder = document.cookie
}

export default {
    name: 'editor',
    data: function () {
        return {
            input: placeholder,
            showModal: false,
            activeTab: 'editor'
        }
    },
    computed: {
        compiledMarkdown: function () {
            return md.render(this.input)
        }
    },
    mounted: function () {
        // Doing it this way is neccesary, because browers.
        // It still doesn't work on firefox.
        document.getElementById('redobtn').addEventListener('click', function () {
            console.log('redo', document.execCommand('redo', false, null))
        })
        document.getElementById('undobtn').addEventListener('click', function () {
            console.log('undo', document.execCommand('undo', false, null))
        })
    },
    methods: {
        update: debounce(function (e) {
            // this.undoStack.push(this.input)
            this.input = e.target.value
            document.cookie = this.input
        }, 300),
        toggleTab: function (e) {
            if (e) {
                if (e.target.parentNode.class === 'active') {
                    return
                }
                if (e.target.parentNode.id === 'editor-tab') {
                    this.activeTab = 'editor'
                } else if (e.target.parentNode.id === 'markdown-tab') {
                    this.activeTab = 'render'
                }
            }
        }
    }
}
</script>

<style scoped>
header {
    position: relative;
    top: 0px;
    left: 0px;
}
#fur-editor {
    height: 100%;
    width: 100%;
    font-size: 100%;
}
#split-editor {
    height: 90%;
}
textarea, #split-editor div {
    display: inline-block;
    width: 49%;
    height: 100%;
    vertical-align: top;
    box-sizing: border-box;
    padding: 0 20px;
    overflow-y: auto;
}
textarea {
    border: none;
    border-right: 1px solid #ccc;
    resize: none;
    outline: none;
}
#split-editor div  {
    /* I'm not sure if just increasing the font size is a good idea. */
    font-size: 120%;
}
#tabs {
    display: none;
}
#undoredo {
    display: none;
}

@media screen and (max-width: 1000px) {
    #split-editor div.active {
        display: block;
        width: 100%;
    }
    #split-editor div {
        display: none;
    }
    #tabs {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        align-items: flex-end;
        width: 100%;
    }
    #tabs a  {
        text-decoration: none;
    }
    #tabs ul {
        margin: 0;
        display: flex;
        align-items: flex-end;
        justify-content: right;
        flex-direction: row;
        list-style-type: none;
    }
    #tabs li {
        margin: -1px;
        padding: 10px;
        padding-right: 20px;
        padding-left: 20px;
        font-size: 150%;
        border: 1px solid #ccc;
        broder-bottom: none;
    }
    #tabs .active {
        top: 1px;
        border-bottom: 1px solid #fff;

    }
    #undoredo {
        display: block;
    }
    
    #split-editor {
        border: 1px solid #ccc;
    }
    #split-editor * {
        margin-top: 20px;
    }
    textarea {
        display: none;
    }
    textarea.active {
        display: block;
        width: 100%;
    }
}
@media print {
    header, textarea {
        display: none !important;
    }
    .print-target {
        width: 100vh !important;
        height: 100vh !important;
        display: block !important;
    }
}
</style>
