<template>
    <div id="app">
        <editor></editor>
    </div>
</template>

<script>
require('assets/spectre.css')
import editor from './components/editor'

export default {
    name: 'app',
    components: {
        editor }
}
</script>

<style>
html, body, #app {
    height: 100%;
}
</style>
